.dropdown-ai {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--fundo-superior);
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 50;
    border: 1px solid var(--borda-padrao);
    border-radius: 8px;
    margin-top: 5px;
    padding: 5px 0;
}

.dropdown-content a {
    color: var(--texto-primario);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.9em;
    transition: background-color 0.2s;
}

.dropdown-content a:hover {
    background-color: var(--fundo-inputs-botoes);
    color: white;
}
